[Desktop Entry]
Name=Batterystatus
GenericName=Batterystatus
Comment=Batterystatus on the desktop
Categories=Utility;Education;
Exec=org.rinzwind.batterystatus
Icon=application-default-icon
Terminal=false
Type=Application
Keywords=Batterystatus;;
